/* 
@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro Display - Bold";
  src: url("../assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
} 
*/
/* 
@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro Display - Bold";
  src: url("../assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
} 
*/

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}